.header-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f8e6cf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  .header-container h1 {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #2d292a;
    text-align: center;
    /* font-style:oblique; */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #973752;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #d279a1;
  }
  